<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    {% if page.last_modified_at %}
      <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
    {% endif %}

    {% if page.categories %}
      {% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}">
      {% endfor %}
    {% endif %}

    {% if page.tags %}
      {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/index.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <main class="stack--large">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p>
          <a href="{{ site.github.owner_url }}">GitHub</a>
          <a href="https://www.twitter.com/ox">Twitter</a>
          <a href="https://glitch.com/@ox">Glitch</a>
        </p>
      </header>

      <section class="stack--small">
      {{ content }}
      </section>
    </main>
  </body>
</html>
